*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    --primary-color: hsl(170, 100%, 26%);
    --secondary-color-headline: hsl(210, 11%, 15%);
    --secondary-color-paragraph: hsl(210, 9%, 31%);
    --fourth-color: hsl(180, 14%, 97%);
    --brand-beige: hsl(39, 100%, 97%);
    --brand-light: hsl(148, 23%, 89%);

    --nav-heigth: 7.2rem;
}

section{
    /* chrome://flags/#smooth-scrolling */
    padding-block: 10rem;
}

html{
    scroll-behavior: smooth;
}

html,
body{
    width: 100%;
    height: 100%;
}

body{
    font-family: 'DM Sans';
    font-size: 1.6rem;
    text-align: center;

    overflow: overlay;

    background: var(--fourth-color);
}

.wrapper{
    width: 37.5rem;
    margin-inline: auto;
    padding-inline: 2.4rem;
}

ul{
    list-style: none;
}

/*============================== HEADER =========================*/
#home::before{
    content: "";
    width: 100%;
    height: calc(108rem + var(--nav-heigth));
    background-color: var(--brand-light);
    display: block;
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
 }

 #home{
    padding-top: calc(4.1rem + var(--nav-heigth));
}

#home h4{
    font-size: 1.4rem;
    color: var(--primary-color); 
    margin-bottom: 1.6rem;
}

#home h1{
    font-size: 3.4rem;
    color: var(--secondary-color-headline);
    line-height: 130%;
    margin-bottom: 2.4rem;
}

#home p{
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--secondary-color-paragraph);
    margin-bottom: 3.2rem;
}

#home button{
    background: var(--primary-color);
    border: none;
    margin-bottom: 6rem;
    border-radius: 4rem;

    height: 6.2rem;
    width: 26.3rem;
    
    font-size: 1.4rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;


    margin-right: auto;
    margin-left: auto;
}

#home img{
    width: 26.4rem;
    margin-bottom: -0.5rem;
}

.stats{
    background-color: var(--brand-beige);
    width: 32.7rem;
    height: 47rem;
    margin-inline: auto;
    padding-block: 4rem;
    
    border: 1px solid var(--brand-light);
    border-radius: 0.6rem;

    /* position:relative; 
    top:0px; 
    left:0px; */
}

.stat{
    margin-bottom: 6rem;
}

.stat h3{
    font-size: 4.8rem;
    color: var(--secondary-color-headline);
    line-height: 130%;
    margin-bottom: 0.4rem;
}

.stat p{
    color: var(--primary-color);
    font-size: 1.6rem;
    line-height: 150%;
}
/*============================== NAVIGATION =========================*/

nav{
    display: flex;

    height: var(--nav-heigth);

    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

nav .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav.scroll {
    background: var(--primary-color);
    width: 100vw;
}

nav.scroll svg:nth-child(1) path{
    fill: #fff;
}

nav.scroll button path{
    stroke: #fff;
}

nav button{
    background: none;
    border: none;
    cursor: pointer;
}

/*============================== MENU-EXPANDED =========================*/
body.menu-expanded{
    overflow: hidden;
}

body.menu-expanded > :not(nav){
    display: none;
}

.menu,
.close-menu,
body.menu-expanded .open-menu{
    opacity: 0;
    visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu{
    opacity: 1;
    visibility: visible;
}

.menu{
    transform: translateY(100%);
}

body.menu-expanded .menu{
    position: fixed;
    top: 0;
    left: 0;
    background: var(--primary-color);

    width: 100vw;
    height: 100vh;

    transition: transform 250ms;
    transform: translateY(0%);

    /* padding-top: var(--nav-heigth); */
}

body.menu-expanded nav{
    position: relative;
}

.menu ul:nth-child(1){
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    /* margin-top: 6rem; */
    margin-top: calc( 6rem + var(--nav-heigth) );

    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.1rem;
}

.menu ul li a{
    color: #fff;
    text-decoration: none;
}

.button{
    background: #FFFFFF;
    border-radius: 4rem;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
    text-transform: uppercase;
    text-decoration: none;

    color: var(--primary-color);

    margin-top: 4.8rem;
    margin-bottom: 8rem;

    padding: 16px 32px;
    display: inline-block;
}

.social-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
}

body.menu-expanded .logo,
body.menu-expanded button{
    position: relative;
    z-index: 100;
}

body.menu-expanded .logo path{
    fill: #fff;
}

body.menu-expanded button path{
    stroke: #fff;
}

/*============================== SERVICES =========================*/

#services header h4{
    font-size: 1.4rem;
    line-height: 150%;
    letter-spacing: 0.08rem;

    color: var(--primary-color);

    text-transform: uppercase;

    margin-bottom: 1.6rem;
}

#services header h2{
    font-size: 3rem;
    line-height: 3.9rem;

    color: var(--secondary-color-headline);

    margin-bottom: 6rem;
}

#services .cards{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

#services .card{
    padding: 2.4rem;
    text-align: left;

    background: #fff;

    border: 1px solid var(--brand-light);
    border-radius: .6rem;
}

#services .card h3{
    font-size: 2.4rem;
    line-height: 3.1rem;

    color: var(--secondary-color-headline);
    margin-block: 1.6rem;
}   

#services .card p{
    line-height: 150%;
    color: var(--secondary-color-paragraph);
}


/* code 1: #NextLevel*/
/* code 2: #NeverStopLearning */